<cdk-virtual-scroll-viewport style="height: 600px; width: 738px;" itemSize="250" class="viewport">
    <ng-container  *ngFor="let task of tasks">
        <mat-grid-list cols="4" rows="2" rowHeight="70px" style="width: 720px;">
            <mat-grid-tile colspan="1" rowspan="2">
                {{ task.time }}
                <br>
                {{ task.id }}
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="2">
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="2">
                <h5>{{ task.title }}</h5>
                <br>
                {{ task.date }}
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="2">
                Image
            </mat-grid-tile>
        </mat-grid-list>
        <br>
    </ng-container>
</cdk-virtual-scroll-viewport>