.text-area {
  width: 600px;
  height: 180px;
  padding: 10px;
  outline: none;
  direction: rtl;
  resize: none;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  transition: 0.5s;
  font-size: 14px;
  font-family: rubik-light;
  line-height: 1.43;
  text-align: right;
  color: #3b3b3b;
  margin: 0 auto;
  margin-top: 50px;
}

.text-area:hover {
  border: solid 1px #afc514;
}

.text-area:focus {
  border: solid 1px #afc514;
}

.title {
  text-align: center;
  left: 20vh;
  font-family: Rubik;
  margin-top: 5vh;
  font-size: 1.5rem;
  font-weight: normal;
}

.subtitle {
  text-align: center;
  left: 20vh;
  font-family: Rubik;
  margin-top: 5vh;
  font-size: 1rem;
  font-weight: normal;
}

.text {
  align-self: start;
  margin: 0px;
}

.commonButton {
  width: 165px;
  height: 46px;
  border-radius: 23px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  margin-top: 4vh;
  font-family: Rubik;
  width: 20vh;
  border-radius: 50px;
  display: block;
  border: none;
  transition: all 0.4s ease 0s;
  padding: 5px;
  cursor: pointer;
}

.linkButton {
  color: #fff !important;
  background: #3f9c67;
  background-color: #3f9c67;
}

.cancelButton {
  color: #3f9c67 !important;
  background: #fff;
  background-color: #fff;
  border: solid 1px #3f9c67;
}

.button-Link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  background-color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  opacity: 0.5;
  height: 20px;
}
