<!-- <button class="close-button" (click)="closeDialog()"><img src="../../../assets/close.png" alt="סגור" ></button> -->
<img class="close-button" src="../../../assets/close.png" alt="סגור" (click)="closeDialog()">
<!-- <button md-raised-button md-dialog-close>Cancel</button> -->
<h4 class="title" dir="rtl">מוכנים להשקיע מספר דקות מזמנכם? </h4>
<h4 class="title" > לרשותך מדריך קצר שעשוי לעזור לפתור את הבעיה</h4>
<div class="button-Link">
<a class ="linkButton" mat-raised-button href={{getKnowledgeLink()}} target="_blank">לחץ כאן</a>
</div>
