<app-return-button (selected)="onReturn()"></app-return-button>

<app-page-top-title></app-page-top-title>

<h4 id="kara">:בחרו שירות בו הפניה</h4>
<div class="search-bar">
  <div class="search">
    <app-search-bar (textChanged)="searchTextChanged($event)"></app-search-bar>
  </div>
</div>

<app-cards-list
  *ngIf="!searchText; else categoriesCardsList"
  [cardsList]="getServicesNames()"
  (selected)="onSelectedService($event)"
>
</app-cards-list>

<ng-template #categoriesCardsList>
  <app-cards-list-categories
    [servicesWithCategories]="servicesWithCategoriesToDisplay"
    (selected)="onSelectedServiceWithCategory($event)"
  >
  </app-cards-list-categories>
</ng-template>

<!-- <ng-template #cardsloader>
  <app-cardsloader></app-cardsloader>
</ng-template> -->
