<div id="task-container">
  <div class="open-closed-tasks">
    <div [ngClass]="{'selected-tasks': openTasksFlag, 'unselected-tasks' : !openTasksFlag}"
      (click)="flipOpenTasksFlag(true)">
      <p id="text">פניות פתוחות</p>
      <p id="seprate-line"></p>
    </div>

    <div [ngClass]="{'selected-tasks': !openTasksFlag, 'unselected-tasks' : openTasksFlag}"
      (click)="flipOpenTasksFlag(false)">
      <p id="text">פניות סגורות</p>
      <p id="seprate-line"></p>
    </div>
  </div>

  <div class="new-task-container">
    <div (click)="openRequest()" class="new-task-button">
      <span id="button-text">קריאה חדשה</span>
      <span id="button-plus">
        <img src="../../assets/group-2-copy.svg" class="Group-2-Copy">
      </span>
    </div>
    
    <!-- <app-search-bar (textChanged)="searchTextChanged($event)"></app-search-bar> -->

  </div>

  <cdk-virtual-scroll-viewport id="scrollerComponents" itemSize="50" class="viewport">
    <app-tasks-list [tasks]="displayedTasks"></app-tasks-list>
  </cdk-virtual-scroll-viewport>
</div>