
@font-face {
    font-family: Rubik;
    src: url(../../assets/Rubik-Medium.ttf);
}

#timeTillTreatment {
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #696969;
  float: left;
  position: relative;
  left: 10px;
  top: 5px;
}


#taskNameDecoration {
  width: 9px;
  height: 9px;
  border: solid 1px #ff2323;
  border-radius: 10px;
  background-color: #ffb7b7;
  display: inline-block;
  position: relative;
  float: right;
  right: 48px;
  top: 28px;
}

.task {
    width: 800px;
    height: 100px;
    border-radius: 4px;
    border: solid 2px #9b98984b;
    background-color: #ffffff;
    margin-bottom: 20px;
    transition: 0.2s;
}

.task:hover {
  border-radius: 4px;
  border: solid 1px #afc514;
}


.task #task-title{
    float: right;
    right: 58px;
    position: relative;
    top: 8px;
    font-family: Rubik;

}

.StatusImg{
  position:relative;
  float: right;
  right: 35px;
  top: 10px;
  width: 36px;
}

#task-id{
  float: left;
  position: relative;
  top: 40px;
  right: 100px;
  font-family: Rubik;
  font-size: 14px;
  color: #696969;
}

.new-task-container{
    margin-bottom: 17px;
}

#task-status{
    font-family: Rubik;
    float: right;
    right: 2px;
    position: relative;
    top: 44px;
    text-align: center;
    max-width: 31px;
    max-height: 20px;
    font-size: 14px;
}

.new-task-button:hover{
    cursor: pointer;
}

.new-task-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 160px;
    height: 46px;
    border-radius: 23px;
    background-color: #3f9c67;
    transition: ease-in 0.3s;

}

.new-task-button:hover{
    box-shadow: 0 5px 14px 0 rgba(206, 206, 206, 0.5);
    background-color: #afc514;
}

.kav{
  position: relative;
  float: right;
  right: 30px;
  width: 1px;
  height: 70px;
  background-color: #d8d8d8;
}


.new-task-button #button-text{
    width: 88px;
    height: 19px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.new-task-button #button-plus {
    width: 28px;
    height: 28px;
    border-radius: 13.9px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    margin-left: 4px;
}

.Group-2-Copy {
    width: 12px;
    height: 12px;
    object-fit: contain;
    margin-top: 8px;
}

.open-closed-tasks{
    display: flex;
    flex-direction: row-reverse;
}

.open-closed-tasks #text{
    margin-left: 5px;
}

.selected-tasks:hover {
    cursor: pointer;
}

.unselected-tasks:hover{
    cursor: pointer;
}

.selected-tasks #text{
    width: 112px;
    height: 24px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f9c67;
}


.selected-tasks #seprate-line{
    width: 122px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #3f9c67;
}

.unselected-tasks #seprate-line{
    width: 122px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #3f9c67;
    visibility: hidden;
}

.unselected-tasks #text{
    width: 112px;
    height: 24px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #696969;
}

#scrollBar {
    margin-right: 10px;
  }

  #scrollBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgba(63, 156, 103, 0.3);
  }

  #scrollBar::-webkit-scrollbar {
    width: 4px;
    height: 10px;
    background-color: rgba(63, 156, 103, 0.3);
  }

  #scrollBar::-webkit-scrollbar-thumb {
    border-radius: 1.5px;
    /* size: 10px; */
    height: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #3f9c67;
  }








