#task-container {
    margin-top: 12vh;
    margin-right: 5vh;
}

@font-face {
    font-family: Varela;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(/../../assets/Varela-Round.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

@font-face {
    font-family: Rubik-light;
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'), url(/../../assets/rubik-light.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

@font-face {
    font-family: Rubik;
    src: url(/../../assets/Rubik-Medium.ttf);
}

#timeTillTreatment {
    font-family: rubik-light;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: #696969;
    float: left;
    position: relative;
    left: 10px;
    top: 5px;
}

.new-task-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}


.new-task-button:hover {
    cursor: pointer;
}

.new-task-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 160px;
    height: 46px;
    border-radius: 23px;
    background-color: #3f9c67;
    transition: ease-in 0.3s;
}

.new-task-button:hover {
    box-shadow: 0 5px 14px 0 rgba(206, 206, 206, 0.5);
    background-color: #afc514;
}

.new-task-button #button-text {
    height: 19px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.new-task-button #button-plus {
    width: 28px;
    height: 28px;
    border-radius: 13.9px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    margin-left: 4px;
}

.Group-2-Copy {
    width: 12px;
    height: 12px;
    object-fit: contain;
    margin-top: 8px;
}

.open-closed-tasks {
    display: flex;
    flex-direction: row-reverse;
}

.open-closed-tasks #text {
    margin-left: 5px;
}

.selected-tasks:hover {
    cursor: context-menu;
}

.unselected-tasks:hover {
    cursor: pointer!important;
}

.selected-tasks #text {
    width: 112px;
    height: 24px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f9c67;
}

.selected-tasks #seprate-line {
    width: 122px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #3f9c67;
}

.unselected-tasks #seprate-line {
    width: 122px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #3f9c67;
    visibility: hidden;
}

.unselected-tasks #text {
    width: 112px;
    height: 24px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #696969;
}

#scrollerComponents {
    height: 710px;
    width: 60vw;
}

#scrollerComponents::-webkit-scrollbar {
    display: none;
}

.iframe {
    position: absolute;
    left: 0;
    height: 100%;
}

#noTasks{
  position: relative;
  left: 47%;
  top: 24px;
  margin-top: 75px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: bold;
  color: #696969ad;
}

.noTasks {
    text-align: center;
    font-family: Rubik;
    color: #80808061;
    margin-top: 50px;
    font-size: 25px;
    cursor: context-menu;
}

.plus {
    margin-top: 8px;
}

.loader{
    margin-top: 20%;
}

.flex-container {
    display: flex;
}

#refresh{
    height: 40px;
    margin-right: 10px;
    margin-top: 3px;
    opacity: 0.5;
    transition: 0.5s;
}
#refresh:hover{
    cursor: pointer;
    filter: none;
    opacity: 1;
}
.disabled {
    background-color: #aeaeae;
    direction: rtl;
}
.disabled:hover {
    background-color: #aeaeae;
    box-shadow: none;
    cursor: context-menu;
}