<div id="task-container">
  <div class="open-closed-tasks">
    <div [ngClass]="{'selected-tasks': openTasksFlag, 'unselected-tasks' : !openTasksFlag}"
      (click)="flipOpenTasksFlag(true)">
      <p id="text">פניות פתוחות</p>
      <p id="seprate-line"></p>
    </div>

    <div [ngClass]="{'selected-tasks': !openTasksFlag, 'unselected-tasks' : openTasksFlag}"
      (click)="flipOpenTasksFlag(false)">
      <p id="text">פניות סגורות</p>
      <p id="seprate-line"></p>
    </div>
  </div>

  <div class="new-task-container">
    <div class="flex-container">
      <div (click)="refresh()">
        <img src="../../assets/refresh.png" id="refresh">
      </div>
      <div (click)="openRequest()" *ngIf="lehavaDataService.isLoaded | async; else newTaskDisabled" class="new-task-button">
        <span id="button-text">קריאה חדשה</span>
        <span id="button-plus">
          <img src="../../assets/plus.svg" class="plus">
        </span>
      </div>
      <ng-template #newTaskDisabled>
        <div class="new-task-button disabled">
          <span id="button-text">טוען נתונים...</span>
        </div>
      </ng-template>
    </div>
    <app-search-bar (textChanged)="searchTextChanged($event)"></app-search-bar>
  </div>

  <cdk-virtual-scroll-viewport id="scrollerComponents" itemSize="50" class="viewport">
    <ng-container *ngIf="displayedTasks; else loader">
      <app-tasks-list [tasks]="displayedTasks" [tasksFlag]="openTasksFlag"
        *ngIf="displayedTasks.length != 0; else noTasks">
      </app-tasks-list>
    </ng-container>
  </cdk-virtual-scroll-viewport>

  <ng-template #noTasks>
    <h2 class="noTasks">אין פניות</h2>
  </ng-template>

  <ng-template #loader>
    <div class="loader">
      <app-cardsloader></app-cardsloader>
    </div>
  </ng-template>

</div>