<div class="header-wrapper" *ngIf="userName">
    <div id="recContainer">
        <div id="leftRec"></div>
        <div id="midRec"></div>
        <div id="rightRec"></div>
    </div>
    <img src="./assets/tommy-logo.svg" (click)="onHome()" id="tommy-logo">
    <span id="username">{{ greeting }}, {{ userName }} </span>
    <img src="./assets/one-logo.svg" id="one-logo">
    <img src="./assets/sapir.png" id="sap-logo">
    <img src="./assets/yesodot.png" id="yeso-logo">
        <img src="./assets/info.png" id="info-logo" (click)="redirectToTutorial()">
</div>