.main-header{
    height: 9vh;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 5px 13px 0 rgba(184, 184, 184, 0.3);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2vh;
    grid-template-areas: "a b c d e f g h i j k l";
    align-items: center;
}

.tommy-logo-header {
    width: 10vw;
    height: 3vh;
    grid-area: k;
}

.one-logo-header {
    width: 2vw;
    grid-area: b;
    margin-left: 56%;
}

.username-header {
    color: #3b3b3b;
    font-family: Rubik;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 1.2vw;
    grid-area: c;
}