span {cursor: context-menu;}

.header-wrapper {
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-areas: "a b c d e f g h i j k l";
    grid-template-columns: repeat(12,1fr);
    background-color: white;
    height: 8vh;
    position: fixed;
    box-shadow: 0 5px 13px 0 rgba(184, 184, 184, 0.3);
    top: 0%;
    z-index: 1;
}

#leftRec {
    width: 33%;
    height: 0.5vh;
    background-color: #227e2d;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

#midRec {
  position: absolute;
  top: 0px;
  left: 33%;
  width: 34%;
  height: 0.5vh;
  background-color: #afc514;
  display: inline-block;
}

#rightRec {
  position: absolute;
  top: 0px;
  left: 67%;
  width: 33%;
  height: 0.5vh;
  background-color: #2d9889;
  display: inline-block;
}

#one-logo {
    grid-area: c;
    width: 2.2vw;
    height: 3vh;
    margin-left: 50%;
}

#tommy-logo {
    grid-area: k;
    width: 10vw;
    height: 5vh;
    cursor: pointer;
}

@font-face {
    font-family: Rubik;
    src: url(/../../assets/Rubik-Medium.ttf);
}

#username{
    grid-area: d;
    font-family: rubik;
    font-size: 16px;
    width: 200px;
}

#sap-logo {
    height: 30px;
    position: absolute;
    left: 70px;
}

#yeso-logo {
    height: 30px;
    position: absolute;
    left: 20px;
}

#info-logo {
    height: 30px;
    position: absolute;
    left: 110px;
    cursor: pointer;    
}