<div *ngIf="tasks">
    <div *ngFor="let task of tasks">
        <div class="task">
            <img class="chatImg" src="{{ chatIcon }}" (click)="sendTaskSumMsg(task)" matTooltip="לתמיכה לחץ כאן">
            <div class="background" (click)="openTaskDetailDialog(task)">
                <img class="StatusImg" src="{{ task.icon }}">
                <div class="status">
                    <p class="task-status">{{ task.status }}</p>
                </div>
                <hr class="kav">
                <div [ngClass]="{'taskNameDecorationOpen': tasksFlag, 'taskNameDecorationClosed' : !tasksFlag}"></div>
                <p class="task-date">{{ task.open_date }}</p>
                <p class="task-title">{{ getNetwork(task) }} - {{ getService(task) }}</p>
                <p class="task-id">פניה מס' {{ task.id }}</p>
            </div>
        </div>
    </div>
</div>