.task-date {
    position: relative;
    float: right;
    right: 43px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: #3b3b3ba6;
    top: 45px;
  }

.task-status {
    width: 55px;
    font-family: Rubik-light;
    float: right;
    position: relative;
    top: 55px;
    text-align: center;
    line-height: 0.98;
    right: -15px;
    font-size: 14px;
}

.kav {
    position: relative;
    float: right;
    width: 1px;
    height: 70px;
    background-color: #d8d8d8;
    border: none;
    top: 0.5vh;
}


.task-id {
    float: left;
    position: relative;
    top: 30px;
    left: 45px;
    font-family: Rubik;
    font-size: 14px;
    color: #3b3b3b;
}

.task-date {
    position: relative;
    float: right;
    right: 43px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: rgba(59, 59, 59, .65);
    top: 45px;
}

.StatusImg {
    position: relative;
    float: right;
    right: 30px;
    top: 20px;
    width: 36px;
}

.task {
    height: 110px;
    border-radius: 5px;
    border: solid 2px #9b98984b;
    background-color: #ffffff;
    margin-bottom: 20px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
}

.task:hover {
    border-radius: 4px;
    border: solid 1px #afc514;
}

.task-title {
    float: right;
    right: 145px;
    position: absolute;
    top: 7px;
    font-family: Rubik;
    color: #3b3b3b;
}

#noTasks {
    font-family: rubik;
    color: #3a3a3a3a;
    text-align: center;
}