<div *ngIf="tasks">
    <div *ngFor="let task of tasks">
        <div class="task">
            <!-- <img class="chatImg" src="{{ chatIcon }}" (click)="sendTaskSumMsg(task)" matTooltip="לתמיכה לחץ כאן"> -->
            <img class="chatImg" src="{{ chatIcon }}" (click)="openTaskMsgDialog(task)" matTooltip="לתמיכה לחץ כאן">
            <div *ngIf="isActiveTask(task); else nonActive">
                <div *ngIf="task.status == 'טופל'; else yetTreated">
                    <div *ngIf="getTaskType(task) == 'chg'; else incident">
                        <img class="cancelImg" src="{{ closeIcon }}" (click)="taskFailed(task)" matTooltip="לדיווח על כשל בטיפול לחץ כאן">
                        <img class="cancelImg" style="left: 70px;" src="{{ doneIcon }}" (click)="closeTask(task)" matTooltip="לאישור הצלחת הטיפול לחץ כאן">
                    </div>
                    <ng-template #incident>
                        <img class="cancelImg" src="{{ redoIcon }}" (click)="reopenTask(task)" matTooltip="להגשת הפנייה מחדש לחץ כאן">
                        <img class="cancelImg" style="left: 70px;" src="{{ doneIcon }}" (click)="closeTask(task)" matTooltip="לאישור הצלחת הטיפול לחץ כאן">
                    </ng-template>
                </div>
                <ng-template #yetTreated>
                    <img class="cancelImg" src="{{ trashIcon }}" (click)="closeTask(task)" matTooltip="לסגירת הפניה לחץ כאן">
                </ng-template>
            </div>
            <ng-template #nonActive>
                <div *ngIf="task.type !== 'C'">
                    <img class="cancelImg" src="{{ redoIcon }}" (click)="reopenTask(task)"
                        matTooltip="להגשת הפנייה מחדש לחץ כאן">
                </div>
            </ng-template>
            <div class="background" (click)="openTaskDetailDialog(task)">
                <img class="StatusImg" src="{{ task.icon }}">
                <div class="status">
                    <p class="task-status">{{ task.status }}</p>
                </div>
                <hr class="kav">
                <div [ngClass]="{'taskNameDecorationOpen': tasksFlag, 'taskNameDecorationClosed' : !tasksFlag}"></div>
                <p class="task-date">{{ task.open_date }}</p>
                <p class="task-title">{{ getTaskTitle(task) }}</p>
                <p class="team-title" *ngIf="getGroup(task)">צוות מטפל - {{ getGroup(task) }}</p>
                <p class="task-id">פניה מס' {{ task.id }}</p>
            </div>
        </div>
    </div>
</div>