<h4 class="potrim">פותרים את מה שלא עובד</h4>

<div style="
  position: absolute;
  left: 50%;
  width: 40px;
  height: 3px;
  background-color: #2d9889;">
  </div>

  <div style="
  position: absolute;
  left: 48.1%;
  width: 40px;
  height: 3px;
  background-color: #afc514;">
  </div>

  <div style="
  position: absolute;
  left: 46.2%;
  width: 40px;
  height: 3px;
  background-color: #2d9889;">
  </div>





<section class="cards">
  <article class="card card--1">
    <div class="card__info-hover">
      <svg class="card__like"  viewBox="0 0 24 24">
  </svg>
    </div>
    <div class="card__img"></div>
    <a href="#" class="card_link">
       <div class="card__img--hover"></div>
     </a>
    <div class="card__info">
      <h3 class="card__title">עד הקצה</h3>
    </div>
  </article>
</section>
