#header{
    text-align: center;
    font-family: Rubik;
    font-size: x-large;
    color: #3b3b3b;
    margin-bottom: 3.5vh;
}

.lehava-user-announcement{
    text-align: center;
    font-family: Rubik;
    font-size: large;
    color: #3b3b3b
}