.Oval {
  margin-top: 60px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  border-radius: 50%;
  width: 104px;
  height: 104px;
  box-shadow: 0 10px 31px 0 rgba(200, 200, 200, 0.4);
  background-color: #ffffff;
}

.xbox {
  height: 56px;
  margin-top: 23%;
}

.underline {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.line {
  width: 40px;
  height: 3px;
}

.left {
  background-color: #2d9889;
}

.middle {
  background-color: #afc514;
}

.right {
  background-color: #2d9889;
}

.title {
  text-align: center;
  left: 20vh;
  font-family: Rubik;
  font-size: 2.8rem;
  margin-top: 14vh;
  margin-bottom: 1vh;
  font-weight: 500;
}