nb-chat {
    width: 500px;
    margin: 0.5rem 0 2rem 2rem;
}

nb-layout-header{
    background-color: black;
}

#Chat {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 9;
}

#btnChat {
    position: fixed;
    bottom: 3px;
    right: 225px;
}