
*{
  box-sizing: border-box;
}


@font-face {
  font-family: Rubik;
  src: url(/../../../assets/Rubik-Medium.ttf);
}

#kara{
  text-align: center;
  left: 20vh;
  margin-top: 8vh;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #3b3b3b;
}

#loved{
  text-align: center;
  font-family: Rubik;
  left: 20vh;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.potrim {
  text-align: center;
  left: 20vh;
  font-family: Rubik;
  font-size: 2.8rem;
  margin-top: 14vh;
  margin-bottom: 1vh;
  font-weight: 500;
}

.container2{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.container3{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

*::before, *::after {
  box-sizing: border-box;
}

.search{
  margin: auto;
  width: fit-content;
  /* margin-bottom: 20px; */
}


