* {
  box-sizing: border-box;
}

@font-face {
  font-family: Rubik;
  src: url(/../../../assets/Rubik-Medium.ttf);
}

.container3 {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

#kara {
  text-align: center;
  left: 20vh;
  font-family: Rubik;
  margin-top: 5vh;
  font-size: 1.5rem;
  font-weight: normal;
}

#loved {
  text-align: center;
  left: 20vh;
  font-family: Rubik;
  font-size: 0.95rem;
}

.potrim {
  text-align: center;
  left: 20vh;
  font-size: 2.8rem;
  font-family: Rubik;
  margin-top: 14vh;
  margin-bottom: 1vh;
  font-weight: 500;
}

#files{
  opacity: 0;
  position: relative;
  bottom: 20px;
  height: 29px;
  width: 23px;
}

input[type='file'] {
  opacity:0    
}

::placeholder {
  font-family: Rubik;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #bfbfc0;
}

.filesIcon{
  left: 6.5px;
  position: relative;
  top: 5px;
}

.filesCircle {
  width: 28px;
  height: 28px;
  border: solid 1px #3f9c67;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  bottom: 42px;
  right: 280px;
}

.filesCircle:hover {
  cursor: pointer;
}

.removeButton {
  position: relative;
  bottom: 42px;
  right: 260px;
  font-family: Rubik;
  line-height: 1.43;
  height: 28px;
  border-radius: 4px;
  font-weight: 500;
  color: #ffffff;
  background-color: #3f9c67;
  border: none;
}

.removeButton:hover {
  color: #3f9c67;
  background-color: #ffffff;
  border: solid 1px #3f9c67;
}

#svg:hover{
  cursor: pointer;
}

#charCounter {
  width: 20px;
  font-size: 14px;
  font-family: Rubik;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #bfbfc0;
  margin-left: 560px;
  margin-top: -24px;
  direction: rtl;
}

textarea {
  width: 600px;
  height: 180px;
  padding: 10px;
  outline: none;
  direction: rtl;
  resize: none;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  transition: 0.5s;
  font-size: 14px;
  font-family: rubik-light;
  line-height: 1.43;
  text-align: right;
  color: #3b3b3b;
}

textarea:hover {
  border: solid 1px #afc514;
}

textarea:focus {
  border: solid 1px #afc514;
}

.example_b {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #3f9c67;
  padding: 20px;
  margin-top: 1vh;
  font-family: Rubik;
  width: 20vh;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.example_b:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  font-family: Rubik;
}

.grid{
  display: grid;
  justify-items: center;
}

#grid-wrapper {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 20px;
  padding: 10px;
  justify-content: center;
}

#taskOpenBtn {
  cursor: pointer;
}

#inputs-wrapper {
  display: grid;
  grid-template-areas: "a b c d e f";
}

.input {
  width: 280px;
  padding: 5px;
  outline: none;
  direction: rtl;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  background-color: #fff;
  transition: 0.5s;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #3b3b3b;
  position: relative;
  justify-self: center;
}

.input:hover {
  border: solid 1px #afc514;
}

.input:focus {
  border: solid 1px #afc514;
}

.red-holder::placeholder {
  color: #ff0000ba;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#file-svg{
  left: 6.5px;
  position: relative;
  top: 5px;
}

#file-svg:hover{
  cursor: pointer;
}

#phoneWrapper {
  display: inherit;
}

#places:hover {
  direction: rtl;
  border: solid 1px #afc514;
  align-items: center;
  cursor: pointer;
}

#places-div{
  display: grid;
  grid-gap: 20px;
  padding: 10px;
  justify-content: center;
}

#places {
  width: 280px;
  padding: 5px;
  outline: none;
  direction: rtl;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  background-color: #fff;
  transition: 0.5s;
  font-size: 14px;
  line-height: 1.43;
  text-align-last:center;
}
/* option {
  text-align: left;
  text-align-last:left;
  background-color: indigo;

} */


.place {
  direction: rtl;
  /* text-align-last:left; */
  /* margin-right: 20px; */
  /* background-color: orange; */
}

:host ::ng-deep .data-loader {
  margin-top: 0;
}