<app-return-button (selected)="onReturn()"></app-return-button>

<app-page-top-title></app-page-top-title>

<h4 id="kara">לא הצלחת לתפעל את התקלה? מצורף טופס לתיאור התקלה</h4>

<div id="grid-wrapper">
    <textarea id="subject" (keyup)="counter()" maxlength="500"
        placeholder="מוכנים להשקיע מספר דקות מזמנכם? לרשותך מדריך קצר שעשוי לעזור לפתור את הבעיה"></textarea>
    <p id="charCounter">{{ input }}/500</p>
    <input type="text" class="input" id="location" placeholder="מיקום גיאוגרפי" maxlength="40">
    <input type="tel" class="input" id="phone" placeholder="מספר טלפון נייד" maxlength="10">
    <div class="button_cont" (click)="sendPost()" id="taskOpenBtn" align="center">
        <a class="example_b">פתיחת פניה</a>
    </div>
</div>