<app-return-button (selected)="onReturn()"></app-return-button>

<app-page-top-title></app-page-top-title>

<h4 id="kara">לא הצלחת לתפעל את התקלה? מצורף טופס לתיאור התקלה</h4>

<div class="grid">
  <textarea id="subject" (input)="counter()" maxlength="500"
    placeholder="מוכנים להשקיע מספר דקות מזמנכם? לרשותך מדריך קצר שעשוי לעזור לפתור את הבעיה"></textarea>
  <p id="charCounter">{{ input }}/500</p>
</div>
<div id="grid-wrapper">
  <input maxlength="11" class="input {{ phoneWarning }}" pattern="/^-?\d+\.?\d*$/" placeholder="מספר טלפון נייד (חובה)"
    onkeypress="if(this.value.length>12) return false;" value="{{phoneInput}}" (input)="setPhoneInput($event.target.value)">
  <input maxlength="11" class="input" pattern="/^-?\d+\.?\d*$/" placeholder="טלפון אדום/VoiP"
    onkeypress="if(this.value.length>12) return false;" (input)="setVOIPInput($event.target.value)">
  <input type="text" class="input {{ computerNameWarning }}" placeholder="שם המחשב (חובה)" maxlength="20"
    (input)="setComputerNameInput($event.target.value)">
  <input type="text" class="input {{ locationWarning }}" placeholder="מיקום גיאוגרפי (חובה)" maxlength="40"
    (input)="setLocationInput($event.target.value)">
</div>

<div class="button_cont" (click)="sendPost()" id="taskOpenBtn" align="center">
  <button class="example_b" [disabled]="isPending">פתיחת פניה</button>
</div>

<!-- <input _ngcontent-hvm-c94="" type="number" id="phone" placeholder="מספר טלפון נייד (חובה)" pattern="/^-?\d+\.?\d*$/"
  class="input" onkeypress="if(this.value.length==10) return false;"> -->