<div id="container">
  <button class="learn-more" (click)="onReturn()">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
    <span class="button-text">לעמוד הקודם</span>
  </button>
</div>

<h4 class="potrim">פותרים את מה שלא עובד</h4>

<div class="container3">
  <div style="
    width: 40px;
    height: 3px;
    background-color: #2d9889;">
    </div>
    <div style="
    width: 40px;
    height: 3px;
    background-color: #afc514;">
    </div>
    <div style="
    width: 40px;
    height: 3px;
    background-color: #2d9889;">
    </div>
  </div>


  <div class="Oval">
    <img src="../../assets/icon.png"
     class="Group-5-Copy">
  </div>

  <h4 id="kara">לא הצלחת לתפעל את התקלה? מצורף טופס תיאור התקלה</h4>

  <textarea id="subject" placeholder="תאר את התקלה" style="height:200px; direction: rtl;"></textarea>
  <div class="button_cont" (click)="SendPost()" align="center"><a class="example_b" >פתיחת תקלה</a></div>
