<button mat-dialog-close id="closeButton">X</button>
<mat-dialog-content class="mat-typography">
  <div id="contentContainer">
    <div>
      <h1>עדכונים ותקלות רוחביות</h1>
      <p>לתשומת לבך</p>
      <p>בשעה...</p>
      <!-- <p>בשעה { data.time }...</p> -->
      <p>אין צורך לדווח על תקלה זו</p>
    </div>
    <div (click)="onHomeClick()" class="finish-button-container">
      <div id="finish-text">סיום</div>
      <div id="icon">
        <img src="../../../assets/home.svg" alt="check-icon">
      </div>
    </div>
    <div (click)="onHomeClick()" class="finish-button-container">
      <div id="finish-text">סיום</div>
      <div id="icon">
        <img src="../../../assets/home.svg" alt="check-icon">
      </div>
    </div>
  </div>
</mat-dialog-content>
