<div id="updatesContainer">
  <h1 id="updatesHeadline">עדכונים</h1>
  <cdk-virtual-scroll-viewport id="scrollBar" itemSize="250"
    class="viewport">
    <mat-list role="list">
      <div *ngIf="array">
      <mat-list-item role="listitem" id="rtl" *ngFor="let update of updatesArrayFiltered" style="width: 433px;">
        <span class="date" matLine>{{ update.open_date }}</span>
        <p class="name" matLine> רשת: {{ update.z_network }} </p>
        <p class="name" matLine> {{ update.name }}</p>
        <p class="name" matLine>{{ update.description }}</p>
      </mat-list-item>
    </div>
    <ng-template #noArray>
      <mat-list-item role="listitem" bstyle="width: 283px;">
        <p class="date" matLine> {{ updatesObject.name }}</p>
        <div class="Oval"></div>
        <p class="name" matLine> רשת: {{ updatesObject.z_network }} </p>
        <p class="name" matLine> {{ updatesObject.name }}</p>
        <p class="time" matLine>{{ updatesObject.description }}</p>
      </mat-list-item>
    </ng-template>
    </mat-list>
  </cdk-virtual-scroll-viewport>
</div>
<div id="fade-block"></div>
