mat-list-item {
  background-color: white;
}

#updatesContainer {
  height: 92%;
  width: 460px;
  grid-area: auto;
  margin-top: 8vh;
  cursor: context-menu;
}


@font-face {
  font-family: Rubik;
  src: url(/../../assets/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubik-extra-light;
  src: url(/../../assets/rubik-extra-light.woff2);
}
@font-face {
  font-family: Rubik-Light;
  src: url(/../../assets/Rubik-Light.ttf);
}
@font-face {
  font-family: rubik-regular;
  src: url(/../../assets/rubik-regular.woff2);
}

#updatesHeadline {
  font-size: 22px;
  font-family: Rubik;
  font-weight: normal;
  text-align: right;
  padding-top: 5vh;
  padding-right: 40px;
}

.time {
  font-family: 'Rubik';
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #696969;
}

.date{
  font-size: 8px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #696969;
  font-family: Rubik-Light;
}


.name {
  font-size: 0.875rem;
  font-weight: 300;
  font-family: rubik-regular;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  font-family: Rubik-Light;
  color: #000;
}

.Oval {
  width: 3px;
  height: 3px;
  background-color: #696969;
}

#scrollBar {
  margin-right: 10px;
  height: 87%;
  width: 450px;
  background-color: white;
  overflow: overlay;
}
#scrollBar::-webkit-scrollbar {
  width: 19px;
}
#scrollBar::-webkit-scrollbar-track {
  background-color: rgba(63, 156, 103, 0.3);
  border-left: 9px solid white;
  border-right: 9px solid white;
  border-radius: 1px;
}

#scrollBar::-webkit-scrollbar-thumb {
  background-color: #3f9c67;
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-radius: 8.8px;
}

#fade-block {
  height: 15vh;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  width: 460px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

#no-updates {
  text-align: center;
  font-family: Rubik;
  color: #80808061;
  margin-top: 200px;
  font-size: 25px;
  cursor: context-menu;
}

.loader{
  margin-top: 60%;
}

.update-card {
  direction: rtl;
  cursor: pointer;
}

.update-card:hover {
  background-color: #f9fafb;
}

mat-list {
  margin-right: 10px;
}


.bottom-fade:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  width: 460px;
  height: 200px;
}