<div class="preloader" #preloader>
    <div class="preloader-content">
        <div class="preloader-logo">
            <span class="preloader-logo-letter bold">
                <img src="../../assets/t.svg">
            </span>
            <span class="preloader-logo-letter bold">
                <img src="../../assets/o.svg">
            </span>
            <span class="preloader-logo-letter bold">
                <img src="../../assets/m1.svg">
            </span>
            <span class="preloader-logo-letter bold">
                <img src="../../assets/m2.svg">
            </span>
            <span class="preloader-logo-letter bold">
                <img src="../../assets/y.svg">
            </span>
        </div>
    </div>
</div>