<div id="container">
  <button class="learn-more" (click)="onReturn()">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
    <span class="button-text">לעמוד הקודם</span>
  </button>
</div>

<h4 class="potrim">פותרים את מה שלא עובד</h4>

<div class="container3">
  <div style="
          width: 40px;
          height: 3px;
          background-color: #2d9889;">
  </div>
  <div style="
          width: 40px;
          height: 3px;
          background-color: #afc514;">
  </div>
  <div style="
          width: 40px;
          height: 3px;
          background-color: #2d9889;">
  </div>
</div>

<div class="Oval">
  <img src="../../assets/icon.png" class="Group-5-Copy">
</div>

<h4 id="kara">:בחרו שירות בו התקלה</h4>
<!-- <h4 id="loved">:אין בעיה, ספרו לנו מה לא עובד ובחרו רשת</h4> -->
<app-cards-list *ngIf="services" [cardsList]="getServicesNames()" (selected)="onSelectedService($event)">
</app-cards-list>