/* .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rect:hover {
    stroke: yellowgreen;
    stroke-width: 0.2;
}

#button:hover > * {
    cursor: pointer;
}

#shape:hover > * {
    stroke: yellowgreen;
    stroke-width: 0.2;
}

#shape:hover > * text {
    stroke: none;
}

#shape:hover > * tspan {
    stroke: none;
}

#shape:hover > * #btn {
    stroke: green;
}

#shape:hover > * #nameBtn {
    stroke: none;
}

#button:hover > #btn {
    cursor: pointer;
    stroke: none;
    /* stroke: none; */
    fill: green;
    /* stroke-width: 0.2; */
}

#button:hover >  #nameBtn {
    cursor: pointer;
    stroke: none;
    fill: white;
    /* stroke-width: 0.2; */
}

/* #btn:hover {
    stroke: none;
    fill: green;
} */

.shadow {
    text-align: center;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}